<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% meta?.forEach((val)=>{ %>
  <meta name="<%= val.name %>" content="<%= val.content %>" />
  <%
  }) %>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <title>This is a page</title>
</head>
